.element__like {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/heart.svg);
  border: 0;
  cursor: pointer;
  background-color: white;
  transition: .2s linear;
}

.element__like:hover {
  opacity: 0.6;
}

.element__like:active {
  background-image: url(../../../images/black-heart.svg);
}
